<div class="table-responsive">
<table class="table table-hover table-striped">
	<tr><td colspan="7" align="center">LISTA DE TRABAJADORES</td></tr>
<tr class="success">
	<td>Nombre Trabajador</td>
	<td>Apellidos(s)</td>
	<td>CI/NIT</td>
	<td>Teléfono</td>
	<td>E-mail</td>
	<td>Dirección</td>
	<td>Fecha Registro</td>
	<td>Opciones</td>
	<td>estado</td>
</tr>
{% for i in datos %}
		<tr>
			<td>{{i.Nombre_trabajador}}</td>
			<td>{{i.Apellidos}}</td>
			<td>{{i.Ci_Nit}}</td>
			<td>{{i.Telefono}}</td>
			<td>{{i.Email}}</td>
			<td>{{i.Direccion}}</td>
			<td>{{i.fecha_registro}}</td>
			<td>
				{% if user.is_active and user.is_superuser %}
				<a href="/editTrabajador/{{i.id}}/"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="/deleteTrabajador/{{i.id}}/" style="color:red;"><span class="glyphicon glyphicon-trash"></span></a>
				{% else %}
					<span class="glyphicon glyphicon-info-sign"></span>
				{% endif %}
			</td>
			<td>{% if i.estado == 0 %}
				<span><img src="/static/img/icon_success.gif"></span>
			{% else %}
				<span><img src="/static/img/icon_error.gif"></span>
			{% endif %}
		</td>
		</tr>
{% endfor %}
<tr> <td>Total Registros:{{cliente}}</td> </tr>
</table>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/modales.js"></script>